
body {
    margin : 0;
    background-color: teal;
}

.gameTitleContainer {
    font-size: 20px;
    font-weight: 700;   
    color: #FFFACD;
    font-family: monospace;
    padding:30px 10px;
    width: 100%;
    text-align: center;

}